*{
    padding:0px;
    margin:0px;
}


nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    height: 60px;
    color:white;
    padding-top: 30px;
    font-weight: bold;
    font-size: 17x;
    
<<<<<<< HEAD
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
=======
}
>>>>>>> 9c7a2d2bfaed969733d97753ff2fce93d062ba79
